{% extends 'form.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'admin/user_series/js/form.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
                <form method="post" id="frmUserSeries">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="id_user">Vendedor:</label>
                            {{ form.user }}
                        </div>
                        <div class="form-group">
                            <label for="id_series">Serie a Asignar:</label>
                            {{ form.series }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ list_url }}" class="btn btn-secondary btn-flat">Cancelar</a>
                        <button type="submit" class="btn btn-primary btn-flat" name="action" value="{{ action }}">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
