.contact-image {
    text-align: center;
}

.lockscreen-wrapper{
    width: 450px;
}

.contact-image i {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.login-box{
    background-color: #9e2121;
}

@media (max-width: 768px) {
    .login-box, .register-box {
        width: 90%;
        margin-top: 80px;
    }
}

.login-box p.desc{
    font-size: 14px;
}